WebContent/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:com.yash777.HelloWorld" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:com.yash777.HelloWorld" xmlns:intf="urn:com.yash777.HelloWorld" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="getHelloWorldAsStringResponse">

      <wsdl:part name="getHelloWorldAsStringReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getHelloWorldAsStringRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getSampleTextResponse">

      <wsdl:part name="getSampleTextReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getSampleTextRequest">

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="getSampleText">

         <wsdl:input message="impl:getSampleTextRequest" name="getSampleTextRequest"/>

         <wsdl:output message="impl:getSampleTextResponse" name="getSampleTextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getHelloWorldAsString" parameterOrder="in0">

         <wsdl:input message="impl:getHelloWorldAsStringRequest" name="getHelloWorldAsStringRequest"/>

         <wsdl:output message="impl:getHelloWorldAsStringResponse" name="getHelloWorldAsStringResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSampleText">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSampleTextRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.yash777.HelloWorld" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSampleTextResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.yash777.HelloWorld" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getHelloWorldAsString">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getHelloWorldAsStringRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.yash777.HelloWorld" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getHelloWorldAsStringResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:com.yash777.HelloWorld" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080/Axis1x_Soap/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
